/* .App {
  text-align: center;
} */

/* common요소 */
img {
  display: block; 
  /* image밑에 공백안생기게 글자로 취급하지 않고 하나의 레이아웃으로 취급하겠다 */
  }

body {
color: #333;
height: 1400px;
font-size: 16px;
font-weight: 400;
line-height: 1.4;
font-family: 'Nanum Gothic', sans-serif;
text-decoration: none;
z-index: 0;
}